<% if line_item == @current_item %>
	<tr id ="current_item">
	<% else%>
		<tr>
			<%end%>

		<td><%= line_item.pet.name %></td>
		<td><%=line_item.quantity %> &times;</td>
		<td><%=image_tag(line_item.pet.image, :class => 'pet_image') %> </td>
		<td>$ <%=line_item.pet.price %> </td>
</tr>
