// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart, li{
	color: white;
}
.pet_image{
	max-height: 400px;
	max-width: 400px;
}

.cartButtons{
	font-size: .5em;
	width: 100px;
}

