h1 {
  color: blue;
}
#rack{
	color: red;
}
#bookTable{
	border: 1px solid black;
}
#bookTable tr td{
	border: 1px solid black;
}
footer{
	font-size: 10px;
}
#headApp {
	font-size: 10px;
	position: absolute;
	margin-left: 555px;
	margin-top: -17px;
}
